form {
  background-color: #ff4c3c32;
  border-radius: 4px;
  margin-top: 4px;
  padding: 18px 26px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: solid 1px #6baf54;
}

h6 {
  color: #fafafa;
}
