tr {
  font-size: 0.8rem;
}

th {
  font-weight: normal;
}

.courseInfo {
  border: 1px solid white;
  background-color: rgba(250, 250, 250, 0.99);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.AllCourses {
  padding: 12px;
  background-color: rgba(250, 250, 250, 0.99);
  border-radius: 8px;
  margin-bottom: 1rem;
}

.filterTable {
  width: 320px;
}

h4 {
  color: #d51300;
}
