tr {
  font-size: 0.9rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
}

th {
  font-weight: normal;
}

.courseInfo {
  border: 1px solid white;
  background-color: rgba(250, 250, 250, 0.99);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.AllCourses {
  padding: 16px;
  background-color: rgba(250, 250, 250, 0.99);
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.filterTable {
  width: 320px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #d51300;
}

.pagination .page-link {
  color: #ffffff;
  background-color: #d51300;
  border-color: #d51300;
}

.pagination .page-link:hover {
  color: #ffffff;
  background-color: #ff6456;
  border-color: #ff4d3c;
}

.pagination .page-item.active .page-link {
  color: #ffffff;
  background-color: #ff4d3c;
  border-color: #ff4d3c;
  font-size: 1em;
}
.text-fanzRed {
  cursor: pointer;
}
.text-fanzGreen {
  cursor: pointer;
}
