.quiz-box {
  background-color: #ff4c3c32;
  border-radius: 4px;
  margin-top: 4px;
  padding: 20px 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: solid 1px #6baf54;
}

.quiz-box h3 {
  color: #fafafa;
}

.quiz-box h2 {
  font-size: 1.2em;
  color: #fafafa;
  font-style: italic;
}

.quiz-box ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-box ul li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  background: #fafafa;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-box ul .selected-answer {
  background: linear-gradient(90.04deg, #295c33 0.1%, #6baf54 99%);
  border: 1px solid #1d6305;
  color: #fafafa;
}

.quiz-box button {
  background: #ff4d3c;
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-box button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  color: #ffe935;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #fafafa;
  font-size: 22px;
}

.result {
  background-color: #ff4c3c32;
  border-radius: 4px;
  margin-top: 4px;
  padding: 20px 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: solid 1px #6baf54;
}
