.main-footer {
  margin-top: auto;
  background: rgb(28, 27, 27) 0%;
  color: #fff;
}

li {
  list-style: none;
}

h4 {
  text-align: left;
}

h5 {
  color: #fafafa;
}

.section {
  background: rgb(28, 27, 27) 0%;
  padding: 15px;
}
/*increase line height for contact info in footer*/
.fw-lighter {
  line-height: 2;
}
