/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/*layout*/
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #ff4d3c;
  margin: 0;
  font-family: "Poppins";
}

/*container that holds img logo and text logo*/
.brandContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.site-title {
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

nav {
  background: #ffffff;
  align-items: stretch;
}
/*navbar container*/
nav .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}

/*NavLinks*/
nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  border: 1px;
  color: red;
}

nav a.active {
  color: #295c33;
  text-decoration: underline;
}

nav a.active:hover {
  color: red;
  text-decoration: underline;
}

/*nav list*/
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/*homepage - all products*/
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.product-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.product-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.product-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.product-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 6px;
  color: #333;
}
