div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.create {
  padding: 64px;
  border: 2px solid white;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.mb-3 {
  color: white;
}
